@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './helpers';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {

}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

@import '_layout.scss'
