<header>
  <form>
    <mat-form-field fxFlexFill>
      <input matInput [(ngModel)]="searchStr" name="searchStr" placeholder="Search by Title">
    </mat-form-field>
    <button type="button" mat-raised-button (click)="showImages(0, pageSize, true)">Submit</button>
  </form>
</header>
<div class="container photos-container">
  <div fxLayout="row wrap">
    <div
      class="p12"
      *ngFor="let image of itemsToShow"
      fxFlex="100"
      fxFlex.gt-xs="50"
      fxFlex.gt-sm="33.333"
      fxFlex.gt-md="20%"
      fxLayout="row"
    >
      <mat-card fxFlexFill>
        <img
          mat-card-image
          [src]="image.thumbnailUrl"
          [alt]="image.title"
        >
        <mat-card-title class="fz12">{{image.title}}</mat-card-title>
      </mat-card>
    </div>
  </div>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPaginateChange($event)"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>


